* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: $fontColorBasic;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColorPrimary;
  &:hover {
    color: $fontColorHover;
  }
}

img,
fieldset {
  border: 0 none;
}

input:focus {
  outline: none;
}
