// 변수처리

//size width
$sitewidth: 980px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// background color
$menuBg: #daf3ff;
$layoutBg: #dedede;

// font color
$fontColorBasic: #555555;
$fontColorHover: #555555;
$fontColorPrimary: #1d53ab;
// $fontColorHover: #e3a936;

//border color
$borderColorPrimary: #1d53ab;

//button color
$gbtnColor: #1d53ab;
// $gbtnColorHover: #e3a936;
